.place__link {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: white;
}

.place__link:hover {
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
}

@media screen and (max-width: 680px) {
    .place__link {
        margin: 0 16px;
    }
}